---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
UseTab: Never
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BraceWrapping:
  AfterFunction: false
BreakBeforeBraces: Attach
IndentCaseLabels: true
SortIncludes: false
